# Entornos virtuales
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing
.pytest_cache/
test_*.py

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Otros
README.md
.DS_Store
*.md
run.sh
